

<div class="loader">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_fbchhoqy.json" background="transparent"
                   speed="0.7" class="block"
                   style="width: 30%; height: 30vh;" loop autoplay></lottie-player>
</div>
<!--<div class="loader">-->
<!--    <div class="loader-inner">-->
<!--        <div class="loader-line-wrap">-->
<!--            <div class="loader-line"></div>-->
<!--        </div>-->
<!--        <div class="loader-line-wrap">-->
<!--            <div class="loader-line"></div>-->
<!--        </div>-->
<!--        <div class="loader-line-wrap">-->
<!--            <div class="loader-line"></div>-->
<!--        </div>-->
<!--        <div class="loader-line-wrap">-->
<!--            <div class="loader-line"></div>-->
<!--        </div>-->
<!--        <div class="loader-line-wrap">-->
<!--            <div class="loader-line"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
